  <div *ngFor='let message of messagesStream; index as i' class="b-message" [@flyInOut]="'in'" [ngClass]="{'b-success-message': !message.isError ,'b-error-message': message.isError}">
    <div class='b-message-status'>
      <i class="fas fa-2x" [ngClass]="{'fa-check-circle': !message.isError ,'fa-exclamation-circle': message.isError}"></i>
    </div>
        {{message.message}}
    <div class='b-message-close-button'>
      <button type="button" class='b-btn-message' (click)=cleanUpMessage(i)>
        <i class="far fa-times-circle fa-lg"></i>
      </button>
    </div>
  </div>