.b-full-post-container {
  width: 95%;
  box-sizing: border-box;
  position: relative;
  padding-top: 20px;
  max-width: 800px;
  margin: 0 auto 0 auto;
  img {
    width: 100%;
    border-radius: 10px;
  }
}

.b-post-text {
  text-align: justify;
  font-size: 2rem;
}

@media #{$media-lg} {
  .b-post-buttons-container {
    position: fixed;
    background-color: white;
    width: calc((100% - 800px) / 2);
    text-align: center;
    // padding-left: 17px;
    // padding-right: 50%;
    // text-align: right;
    left: 0;
    // right: 80%;
    top: 100px;
  }
}

@media #{$media-md}, #{$media-sm} {
  .b-post-buttons-container {
    position: relative;
    background-color: white;
    width: 100%;
    text-align: center;
    padding-left: 17px;
    bottom: 0;
    left:0;
    .b-post-button {
      display: inline-block;
    }
  }
}