@import '~app/variables';

.b-top-container {
  width: 100%;
  display: block;
  img {
    width: 100%;
    display: block;
    border-radius: 10px;
  }
}

.b-bottom-container {
  vertical-align: top;
  margin-top: 10px;
  width: 100%;
  .b-post-info {
    text-align: left;
    font-size: 0.8rem;
    color: #8d8d8d;
    margin: 18px 0 20px 0;
    .b-icon-sector {
      border-left: 1px solid $lines-color;
      margin-left: 7px;
      padding-left: 9px;
    }
  }
  .b-tags-container {
    text-align: left;
    margin-bottom: 10px;
    .b-tag {
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: 600;
      letter-spacing: 1px;
      margin-right: 1px;
      color: #d79c6a;
      .b-tag-link {
        color: #d79c6a;
      }
    }
  }
  .b-text-cut {
    display: block;
    font-size: 1rem;
  }
}
