<div class="b-top-container">
  <a routerLink="/posts/{{id}}" class="image-link">
    <!-- [ngStyle]="{'background-image': 'url(' + post.value.imageUrl + ')'}"> -->
    <img src={{post.imageUrl}}>
  </a>
</div>
<div class="b-bottom-container">
  <div class="b-tags-container">
    <span *ngFor="let tag of post.tags; last as isLast" class="b-tag">
      <a [routerLink]="['/tag', tag]" class="b-tag-link">{{tag}}</a><span *ngIf="!isLast">,</span>
    </span>
  </div>
  <a routerLink="/posts/{{id}}">
    <h3>
      {{post.title}}
    </h3>
  </a>
  <div class="b-text-cut">
    {{post.cut}}
  </div>
  <div class="b-post-info">
    <span>
      {{post.date | date: 'mediumDate'}}
    </span>
    <span *ngIf="post.length" class="b-icon-sector">
      <i class="far fa-clock fa-lg"></i> {{readingTime}} min
    </span>
    <span>

    </span>
  </div>
</div>
