<h3>
  Media manager
</h3>
<div>
  <form (ngSubmit)="uploadFile()" [formGroup]="uploadFileForm">
    <input type="file" id="imageUpload" formControlName="file" placeholder="upload file!!!" getFile>
    <button [disabled]="!uploadFileForm.valid">Upload</button>
  </form>
</div>
<div>
  <blog-file-tree [items]="filesList" [selectedItem]="selectedItem" (pickItem)="selectItem($event)"></blog-file-tree>
</div>
<div class="b-tech">
  <p>Value: {{ uploadFileForm.value | json }}</p>
  <p>Touched: {{ uploadFileForm.touched }}</p>
  <p>Valid: {{ uploadFileForm.valid }}</p>
  <p>Dirty: {{ uploadFileForm.dirty }}</p>
</div>