@import '~app/variables';

footer {
  border-top: 1px solid $lines-color;
  font-family: 'PT Sans', serif, Times;
  color: grey;
  width: 100%;
  height: $footer-height;
  .b-footer-container {
    padding: 0 20px;
    display: flex;
    .b-copyright {
      display: inline-block;
      line-height: $footer-height;
    }
    .b-author {
      line-height: $footer-height;
      display: inline-block;
      margin-left: auto;
    }
  }
}