@import '~app/variables';

nav {
  display: block;
  position: fixed;
  z-index: 1000;
  border-bottom: 1px solid $lines-color;
  top:0;
  width: 100%;
  background-color: white;
  height: $navbar-height;
  font-family: $main-font, serif, Times;
  font-size: 1rem;
  font-weight: 500;
}

.b-navbar-container {
  box-sizing: border-box;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: $main-container-width;
  position: relative;
  height: 100%;
  display: flex;
}

.b-menu-container {
  display: inline-block;
  margin: auto 10px;
  height: 100%;
  ul {
    margin: 0;
    padding: 0;
    height: 100%;
    display: inline-block;
    li {
      display: inline-block;
      position: relative;
      height: 100%;
      .b-menu-item {
        display: inline-block;
        position: relative;
        height: 100%;
        a {
          display: inline-block;
          position: relative;
          line-height: $navbar-height;
          margin: auto 10px;
          text-transform: uppercase;
        }
      }
      .b-dropdown-content {
        display: block;
        position: absolute;
        min-width: inherit;
        background-color: white;
        z-index: 1;
        border: 1px solid $lines-color;
        border-top: none;
        border-radius: 0 0 3px 3px;
        .b-dropdown-item {
          display: block;
          margin: 10px;
          text-transform: uppercase;
          font-size: 0.8em;
        }
      }
    }
  }
}

.b-dropdown-tags {
  display: block;
  position: absolute;
  min-width: inherit;
  background-color: white;
  right: 100%;
  bottom: 0;
  z-index: 1;
  border-left: 1px solid $lines-color;
  height: 100%;
  line-height: $navbar-height;
  .b-dropdown-tag {
    background-color: lightgrey;
    font-size: 0.8rem;
    text-transform: uppercase;
    border-radius: 2px;
    margin: 3px;
    padding: 2px;
  }
}

.b-logo-container {
  height: $logo-height;
  width: $logo-height;
  display: inline-block;
  margin: auto 0;
  img {
    position: relative;
    border-radius: 50%;
    height: 100%;
  }
}

.b-icons-container {
  display: inline-block;
  margin-left: auto;
  height: 100%;
  .b-icon-container {
    position: relative;
    display: inline-block;
    height: 100%;
    margin: 0 10px 0 0;
  }
}

.b-icon {
  text-align: center;
  vertical-align: middle;
  line-height: $navbar-height;
  font-size: 1.1rem;
}

.b-search-container {
  display: block;
  margin: auto 3px auto auto;
  float: right;

  input {
    border: 0;
  }
}