
.b-file-tree {
  padding-left: 20px;
  list-style-type: none;
}

.b-tree-selected-item {
  background-color: blue;
  border-radius: 3px;
  color: white;
}

.b-file-icon {
  margin-left: 11px;
}

.b-folder-icon {
  margin-left: 3px;
}