.b-hidden-post {
  background-color: white;
  opacity: 0.8;
}

.b-edit-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: right;
  .b-edit-buttons {
    display: inline-block;
    opacity: 0.9;
    position: relative;
  }
}

.b-addpost-button-container {
  text-align: center;
}