<div class="b-full-post-container">
  <div>
    <img src={{post.imageUrl}}>
  </div>
  <blog-post-header [title]="post.title" [tags]="post.tags" [date]="post.date"></blog-post-header>
  <div id="b-quill-renderer">
    <!-- <span [innerHTML]="post.post.text"></span> -->
  </div>
  <div class="b-post-buttons">
    <!-- <div>
      <i class="far fa-heart fa-3x"></i>
    </div> -->
    <div>
      <button type="button" class="b-btn b-btn-icon b-btn-secondary" (click)="goBack()">
        <i class="fa fa-angle-left"></i>
      </button>
    </div>
    <!-- <div>
      <button type="button">
        <i class="fa fa-arrow-up fa-3x"></i>
      </button>
    </div> -->
  </div>
</div>