<div class="b-full-post-container">
  <div>
    <img src={{post.imageUrl}}>
  </div>
  <blog-post-header [title]="post.title" [tags]="post.tags" [date]="post.date"></blog-post-header>
  <div id="b-quill-renderer">
  </div>
  <div class="b-post-buttons-container">
    <div class="b-post-button">
      <button type="button" class="b-btn b-btn-icon b-btn-secondary" (click)="goBack()">
        <i class="fa fa-angle-left"></i>
      </button>
    </div>
    <!-- <div class="b-post-button">
      <button type="button" class="b-btn b-btn-icon b-btn-secondary" (click)="goBack()">
        <i class="fa fa-angle-left"></i>
      </button>
    </div> -->
  </div>
</div>
