<div class="b-single-post-tags-container">
  <span *ngFor="let tag of tags; last as isLast" class="b-tag">
    <a [routerLink]="['/tag', tag]">{{tag}}</a><span *ngIf="!isLast">,</span>
  </span>
</div>
<h2>{{title}}</h2>
<div class="b-postview-info">
  <span>
    {{date | date: 'mediumDate'}}
  </span>
  <span *ngIf="readingTime" class="b-icon-sector">
    <i class="far fa-clock fa-lg"></i> {{readingTime}} min
  </span>
  <span *ngIf="likesNumber" class="b-icon-sector">
    <i class="fas fa-heart fa-lg"></i> {{likesNumber}}
  </span>
  <span *ngIf="viewsNumber" class="b-icon-sector">
    <i class="fas fa-eye fa-lg"></i> {{viewsNumber}}
  </span>
</div>
