<h1 *ngIf="blogService.currentTag">{{blogService.currentTag}}</h1>
<div class="b-posts-container">
  <div *ngFor="let column of columns" [ngClass]="'b-col-' + columns.length">
    <div *ngFor="let post of (blogService.posts | columnFilter: column : columns.length)" 
      class='b-post-container'>
      <blog-post-brick [post]="post.value" [id]="post.id"></blog-post-brick>
    </div>
  </div>
</div>
<blog-infinite-loader [loadedPostsNumber]="blogService.loadedPostsNumber" 
  [totalPostsNumber]="blogService.totalPostsNumber"
  [loading]="blogService.loading" 
  (trigger)="blogService.getPosts()"></blog-infinite-loader>
